{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
    <!-- main body -->
    <div class="row">
      <div class="col-xl-5 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <ul class="list-group">
                {% for id, foodgroup in food_groups %}
                <li class="list-group-item list-group-item-primary">
                    <form method="post" action="/group/{{ id }}">
                        <input type="submit" name="" value="SEE"/> {{ foodgroup }} </i>
                    </form>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}