{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr class="table-success">
                <th scope="col">Food Group</th>
                <th scope="col">Long Desc</th>
                <th scope="col">Short Desc</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Scientific Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Nutrition</th>
                <th scope="col">Amounts</th>
                <th scope="col">Units</th>
                <th scope="col">Per</th>
                <th scope="col">Description</th>
                <th scope="col">GM Weight</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        {% for item in food_detailll %}
            <td> {{ item[0] }} </td>
            <td> {{ item[1] }} </td>
            <td> {{ item[2] }} </td>
            <td> {{ item[3] }} </td>
            <td> {{ item[4] }} </td>
            <td> {{ item[5] }} </td>
            <td> {{ item[6] }} </td>
            <td> {{ item[7] }} </td>
            <td> {{ item[8] }} </td>
            <td> {{ item[9] }} </td>
            <td> {{ item[10] }} </td>
            <td> {{ item[11] }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}